
.dropdown-container {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    width: 195px;
}

#BarItemSelect {
    width: 100%;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #00A000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: #242424;
    cursor: pointer;
    transition: all 0.3s ease;
}

#BarItemSelect:hover {
    border-color: #eee;
}

#BarItemSelect:focus {
    outline: none;
    border-color: #ddd;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

#BarItemSelect option {
    color: #00A000;
}

#BarItemSelect {
    appearance: none;
    background-image: url("../../../assets/images/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 9px center;
    background-size: 18px 18px;
    color:#ddd;
    padding-right: 3px;
}
